/install-all
!/install-all/Makefile

/tests/test_chroma_api
/tests/XMLDAT
/tests/mesons2.txt
/tests/barprop.txt

/tests/hadspec/hadspec.out.xml
/tests/hadspec/XMLDAT

.DS_Store?
._*
.Trashes
\#*
ehthumbs.db
Thumbs.
.cproject
.project
.pydevproject