/install-all
!/install-all/Makefile

/tests/test_chroma_api
/tests/test_clime_reader
/tests/test_clime_writer
/tests/test_writer.lime

/tests/XMLDAT
/tests/mesons2.txt
/tests/barprop.txt

/tests/hadspec/hadspec.out.xml
/tests/hadspec/XMLDAT

/build
.DS_Store?
._*
.Trashes
\#*
ehthumbs.db
Thumbs.
.cproject
.project
.pydevproject